<nav class="navigation">
    <h1 class="navH1">MüvieChat</h1>
        <% if (currentUser) { %>
            <div class="login">
                Welcome <%= currentUser.username %>
                <div class="icon" id="nava">
                    <img src="<%= currentUser.icon %>">
                </div>
                    <form id="nava" action="/session?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" class="btn-small red" />
                    </form>
            </div>
            <% } else { %>
            <div class="login">
                <a href="/user/new" id="nava">Sign Up</a><br>
            <a href="/session/new" id="nava">Log In</a>
            </div>
    <% } %>
</nav>