.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: ghostwhite;
    background-color: black;
    padding-right: 100px;
}
.login {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
}
.icon{
    height: 50px;
    width: 50px;
}
#nava {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-decoration: none;
    padding-left: 25px;
}
#nava:hover {
    color: rgb(218, 77, 77)
}
.navH1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 400;
    padding-left: 10px;
}
.searchbar {
    display: flex;
    flex-flow: row wrap;
}
.subjectbar {
    display: flex;
    justify-content: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* Styling for each individual movie on index */
.badum {
    display: flex;
    flex-wrap: wrap;
}
.portrait {
    height: 300px;
    width: 300px;
}
.torque {
    width: 25%;
}
/* Styling for the comment section */
.forumPost {
    background-color: yellow;
    border-style: solid;
    border-color: black;
}
.userName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}