<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Chat</title>
</head>
<body>
    <h1>Welcome to MovieChat</h1>
    <ul>
        <% if (currentUser) { %>
            <li>Welcome <%= currentUser.username %></li>
            <li>
              <form action="/session?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" class="btn-small red" />
              </form>
            </li>
            <% } else { %>
            <li><a href="/user/new">Sign Up</a></li>
            <li><a href="/session/new">Log In</a></li>
            <% } %>
    </ul>
    <a href="/show">Click Here for Movies</a>
    <a href="/new">Add a Movie</a>
    <form action="/search">
        <input type="text" name="title" placeholder="Find a movie">
        <input type="submit" value="Search">
    </form> 
    <div>
        <% for(let i=0; i<movies.length; i++){ %>
            <div>
                <h4><%= movies[i].title %> </h4>
                <a href="/<%= movies[i].id %>"><img src="<%= movies[i].poster %>"></a>
            </div>
        <% } %>
    </div>
    
</body>
</html>