<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Add A Movie</h1>
    <nav>
        <a href="/">Back to Main Page</a>
    </nav>
    <form action="/" method="POST">
        Title: <input type="text" name="title" placeholder="required"><br>
        Year: <input type="date" name="year" placeholder="release date"><br>
        Poster: <input type="text" name="poster"><br>
        <input type="submit" name="" value="Add Movie">
    </form>
</body>
</html>